<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
</head>
<body >
<%- include modulesTools/header %>
	<!-- 中间部分开始 -->
	<div class="container" id="contents" >
		<!-- 开始循环 -->
		<% PostDataProse.forEach(	function(PostDataProse){%>
		<div class="prose-tree">
			<h2><a href="#"><%= PostDataProse %>年<i></i></a></h2>
			<ul class="list">
			<% PostGetProse.forEach(	function(PostGetProse){%>
				<% if( PostDataProse ==  PostGetProse.dataYear){%>
				<li class="cls">
					<p class="date"><%= PostGetProse.dataMonth %>月</p>
					<p class="intro"><%= PostGetProse.kt_prose_titles %></p>
					<p class="version"><%= PostGetProse.kt_prose_dates %></p>
					<div class="more">
						<p><%- PostGetProse.kt_prose_contents %></p>
					</div>
				</li>
				<%  } %>
			<% });%>
			<!-- 开始循环结束 -->
			</ul>
		</div>
		<% });%>
	</div>
	<!-- 中间部分结束 -->
	<%- include modulesTools/footer %>
	<script type="text/javascript" src="js/jquery-main-211.js"></script>
	<script type="text/javascript" src="js/header.js"></script>
</body>
</html>