<section id="content2" class="filter-posts">
	<% PostGet_all.forEach(	function(PostGet_all){%>
	<div class="post clearfix">
		<div class="box">
			<div class="shadow clearfix">
				<div class="frame">
					<h2 class="entry-title">
						<a href="/blogsById?blogs_ids=<%= PostGet_all.kt_blogs_ids %>&tags_ids=<%= PostGet_all.kt_tags_ids %>" title="<%= PostGet_all.kt_blogs_titles %>"  target="_blank" ><%= PostGet_all.kt_blogs_titles %></a>
					</h2>
					<p><%- PostGet_all.kt_blogs_contents.substring(0,100) %>

						...
					</p>
				</div>
			</div>
			<div class="bar" >
				<div class="bar-frame clearfix">
					<div class="date">
						<strong class="day"><%= PostGet_all.kt_blogs_ri %></strong>
						<div class="holder">
							<span class="month"><%= PostGet_all.kt_blogs_yue %></span>
							<span class="year"><%= PostGet_all.kt_blogs_year %></span>
						</div>
					</div>
					<div class="author">
						<strong class="title">标签</strong>
						<a href="/blogsByMenu?blogs_ids=<%= PostGet_all.kt_blogs_ids %>&tags_ids=<%= PostGet_all.kt_tags_ids %>" title="#" rel="external"><%= PostGet_all.kt_tags_name %></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% });%>
	<div class="post clearfix">
		<div class="box" id="pagination">
			<%- Create_links %>
		</div>
	</div>
	<div style="clear:both;"></div>
</section>