<header class="headerWrapper">
	<div class="container headerDiv">
		<!-- 左浮动 -->
 		<%- include header/logo %>
 		<%- include menu %>
		<%- include header/login %>
		<!-- 右浮动 -->
		<%- include header/userInfo %>
		<%- include header/lanage %>
		<%- include header/search %>
	</div>
</header>
<div id="main-container"></div>