<%- include ../poHeaderLoader %>
<div class="container poContents"  id="contents">
    <%- include ../header %>
    <form action="/<%= urlStr.from%>" method="post">
        <div   class="poAddBox" style="width:100%;">
            <table class="table table-striped" style="margin-bottom:0;">
                <tr><td>
                        <span>预览一级标签</span>
                        <input type="hidden" id="uiSelect1BlogType" name="uiSelect1BlogType" value=""/>
                    <div id="uiSelect1" class="ui-select w150 blogTagId"  data-name="uiSelect1">
                        <a href="javascript:void(0)" class="ui-select-trigger"><span>快速搜索</span><i><b></b></i></a>
                        <ul class="ui-select-content">
                            <% PostTags.forEach(	function(PostTags){%>
                            <li class="ui-select-item" data-value="<%= PostTags.kt_isTag_id %>" ><%= PostTags.kt_isTag_name %></li>
                            <% });%>
                        </ul>
                    </div>
                        <span>添加文章一级标签：</span>
                        <input class="tagName"  style="width:30%;" name="tagName" type="text" placeholder="请输入标签名称">
                        <% if (locals.success&&locals.success.length) { %>
                        <%= locals.success %>
                        <% } %>
                        <% if (locals.error&&locals.error.length) { %>
                        <%= locals.error %>
                        <% } %>
                    </td></tr>
                <tr><td>
                        <input style="width:100%;" type="submit" value="提交表单">
                    </td></tr>
            </table>
        </div>
    </form>
    <form action="/<%= urlStr.from2%>" method="post">
        <div   class="poAddBox" style="width:100%;">
            <table class="table table-striped" style="margin-bottom:0;">
                <tr><td>
                        <span>预览二级标签</span>
                        <input type="hidden" id="uiSelect3BlogType" name="uiSelect3BlogType" value=""/>
                        <input type="hidden" id="uiSelect2BlogType" name="uiSelect2BlogType" value=""/>
                        <input type="hidden" id="uiSelect2InputType" value="<%= JSON.stringify(PostTags2) %>"/>
                        <div id="uiSelect2" class="ui-select w150"  data-name="uiSelect2">
                            <a href="javascript:void(0)" class="ui-select-trigger"><span>快速搜索</span><i><b></b></i></a>
                            <ul class="ui-select-content">
                                <li class="ui-select-item" data-value="请选择主类别" >请选择主类别</li>
                            </ul>
                        </div>

                        <span>添加文章二级标签：</span><input class="tagName"  style="width:30%;" name="tagName2" type="text" placeholder="请输入标签名称">
                        <% if (locals.success&&locals.success.length) { %>
                        <%= locals.success %>
                        <% } %>
                        <% if (locals.error&&locals.error.length) { %>
                        <%= locals.error %>
                        <% } %>
                    </td></tr>
                <tr><td>
                        <input style="width:100%;" type="submit" value="提交表单">
                    </td></tr>
            </table>
        </div>
    </form>
</div>
<%- include ../poFooterLoader %>
<script type="text/javascript">
    $(function(){
        $("#uiSelect1").selectInit({
            callback:function(){
                var _this = $(this);
                var inputRefer = JSON.parse($("input#uiSelect2InputType").val());
                var val = _this.selectValue();
                var uiSelect2UlBox = $("#uiSelect2").find('.ui-select-content');
                var liSelectArr = []
                uiSelect2UlBox.empty();
                $.each(inputRefer, function (index,item) {
                    if (item.kt_isTag_id == val) {
                        liSelectArr.push({value:item.kt_isTag2_id,text:item.kt_isTag2_name});
                    }
                });
                $("#uiSelect2").selectReset({
                    dataList:liSelectArr,
                    callback:function(){
                        var _this = $(this);
                        var val = _this.selectValue();
                        $('#uiSelect2BlogType').val(val)
                    }
                });
                $('#uiSelect1BlogType').val(val);
                $('#uiSelect3BlogType').val(val);
            }
        });
        $("#uiSelect2").selectInit({
            callback:function(){
                var _this = $(this);
                var val = _this.selectValue();
                $('#uiSelect2BlogType').val(val)
            }
        });
    });
</script>
<style>
    #uiSelect1,#uiSelect2{
        float:left;
    }
</style>