<%- include ../poHeaderLoader %>
	<div class="container poContents"  id="contents">
		<%- include ../header %>
		<form action="/addCatalogueType" method="post">
		<div   class="poAddBox" style="width:100%;">
			<table class="table table-striped" style="margin-bottom:0;">
				<tr><td>
					添加网站分类：<input class="catalogueTitle"  style="width:30%;" name="catalogueTitle" type="text" placeholder="请输入分类名称">
						<% if (locals.success&&locals.success.length) { %>
							<%= locals.success %>
						<% } %>
						<% if (locals.error&&locals.error.length) { %>
							<%= locals.error %>
						<% } %>
					</td></tr>
					<tr><td>
									<input style="width:100%;" type="submit" value="提交表单">
					</td></tr>
				</table>
			</div>
		</form>
		</div>
<%- include ../poFooterLoader %>