<%- include ../poHeaderLoader %>
		<div class="container poContents">
			<%- include ../header %>
			<!-- <form action="write/baocun" method="post"> -->
				<div class="poReviseBox">
				<div class="poReviseCententTitle">
                        <div class="poReviseCententTitleLeft"><span>博客后台管理</span></div>
                        <div class="poReviseCententTitleRight"><a href="/poProse">+</a></div>
                </div>
				<table class="table table-striped" id="idData" >
							<tr >
								<th  class="deleteProseTh20">Id</th>
								<th  class="deleteProseTh20">Title</th>
								<th  class="deleteProseTh20">Date</th>
								<th  class="deleteProseTh20">Content</th>
								<th  class="deleteProseTh20">Operation</th>
							</tr>
							<% PostGetProse.forEach(	function(PostGetProse){%>
							<tr >
								<td  class="deleteProseTh20"><%= PostGetProse.kt_prose_ids %></td>
								<td  class="deleteProseTh20"><%= PostGetProse.kt_prose_titles %></td>
								<td  class="deleteProseTh20"><%= PostGetProse.dataYear %>:<%= PostGetProse.dataMonth %></td>
								<td  class="deleteProseTh20"><%- PostGetProse.kt_prose_contents.substring(0,10) %></td>
								<td  class="deleteProseTh20"><a class="editImg" href="/editProseById?prose_ids=<%= PostGetProse.kt_prose_ids %>">Edit</a>/
								<a class="delImg" href="/delProseById?prose_ids=<%- PostGetProse.kt_prose_ids %>">Del</a>
								</td>
							</tr>
							<% });%>
					</table>
					<table width="100%">
						<tr>
							<td>
								<div id="barcon" name="barcon"></div>
							</td>
						</td>
					</table>
				</div>
				</div>
		<!-- </form> -->
		</div>
<%- include ../poFooterLoader %>