<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<title>KANGJIAN</title>
		<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body onLoad="goPage(1,15);">
	<%- include ../../modulesTools/header %>

		<!-- 中间部分开始 -->
		<div class="container poContents">
			<%- include ../header %>
		<%- include nav %>
			<!-- <form action="write/baocun" method="post"> -->
				<div class="poReviseBox">
				<table class="table table-striped" id="idData" >
							<tr >
								<th  class="deleteProseTh20">Id</th>
								<th  class="deleteProseTh20">Title</th>
								<th  class="deleteProseTh20">Date</th>
								<th  class="deleteProseTh20">Content</th>
								<th  class="deleteProseTh20">Operation</th>
							</tr>
							<% PostGetProse.forEach(	function(PostGetProse){%>
							<tr >
								<td  class="deleteProseTh20"><%= PostGetProse.kt_prose_ids %></td>
								<td  class="deleteProseTh20"><%= PostGetProse.kt_prose_titles %></td>
								<td  class="deleteProseTh20"><%= PostGetProse.dataYear %>:<%= PostGetProse.dataMonth %></td>
								<td  class="deleteProseTh20"><%- PostGetProse.kt_prose_contents.substring(0,10) %></td>
								<td  class="deleteProseTh20"><a class="editImg" href="/editProseById?prose_ids=<%= PostGetProse.kt_prose_ids %>">Edit</a></td>
							</tr>
							<% });%>
					</table>
					<table width="100%">
						<tr>
							<td>
								<div id="barcon" name="barcon"></div>
							</td>
						</td>
					</table>
				</div>
				<script type="text/javascript" src="js/po/page.js"></script>
				</div>
		<!-- </form> -->
		</div>
		<script type="text/javascript" src="js/jquery-main-211.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script src="ckeditor/ckeditor.js"></script>
		<script src="ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript">
			$( document ).ready( function() {
				$( 'textarea#editor1' ).ckeditor();
			} );
		</script>
	</body>
</html>