<%- include ../poHeaderLoader %>
		<div class="container poContents">
			<%- include ../header %>
		<%- include nav %>
			<!-- <form action="write/baocun" method="post"> -->
				<div class="poReviseBox">
				<table class="table table-striped" id="idData" >
							<tr >
								<th  class="deleteProseTh20">Id</th>
								<th  class="deleteProseTh20">Title</th>
								<th  class="deleteProseTh20">Date</th>
								<th  class="deleteProseTh20">Content</th>
								<th  class="deleteProseTh20">Operation</th>
							</tr>
							<% GetAllTranslate.forEach(	function(GetAllTranslate){%>
							<tr >
								<td  class="deleteProseTh20"><%= GetAllTranslate.kt_translates_ids %></td>
								<td  class="deleteProseTh20"><%= GetAllTranslate.kt_translates_titles %></td>
								<td  class="deleteProseTh20"><%= GetAllTranslate.kt_translates_year %>:<%= GetAllTranslate.kt_translates_yue %></td>
								<td  class="deleteProseTh20"><%= GetAllTranslate.kt_translates_contents.substring(0,10) %></td>
								<td  class="deleteProseTh20"><a class="editImg" href="/editTranslateById?translate_ids=<%= GetAllTranslate.kt_translates_ids %>">Edit</a></td>
							</tr>
							<% });%>
					</table>
					<table width="100%">
						<tr>
							<td>
								<div id="barcon" name="barcon"></div>
							</td>
						</td>
					</table>
				</div>
				</div>
		<!-- </form> -->
		</div>
<%- include ../poFooterLoader %>