<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<title>KANGJIAN</title>
		<link rel="stylesheet"  href="css/base.css" type="text/css" media="all">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body  onLoad="goPage(1,20);">
	<%- include ../../modulesTools/header %>

		<!-- 中间部分开始 -->
		<div class="container poContents">
			<%- include ../header %>
			<%- include nav %>
			<!-- <form action="write/baocun" method="post"> -->
				<div class="poReviseBox">
				<table class="table table-striped"   id="idData">
							<tr >
								<th  class="deleteCatalogueTh10">Id</th>
								<th  class="deleteCatalogueTh20">Name</th>
								<th  class="deleteCatalogueTh50">Url</th>
								<th  class="deleteCatalogueTh10">Type</th>
								<th  class="deleteCatalogueTh10">Operation</th>
							</tr>
							<% PostCatalogue.forEach(  function(PostCatalogue){%>
							<tr >
								<td  class="deleteCatalogueTh10"><%= PostCatalogue.kt_navigation_ids %></td>
								<td  class="deleteCatalogueTh20"><%= PostCatalogue.kt_navigation_name %></td>
								<td  class="deleteCatalogueTh50"><a target="_blank" href="<%= PostCatalogue.kt_navigation_url %>"><%= PostCatalogue.kt_navigation_url %></a></td>
								<td  class="deleteCatalogueTh10"><%= PostCatalogue.kt_nav_tag_name %></td>
								<td  class="deleteCatalogueTh10"><a class="editImg"href="/editCatalogueById?navigation_ids=<%= PostCatalogue.kt_navigation_ids %>">Edit</a></td>
							</tr>
							<% });%>
				</table>
				<table width="100%">
					<tr>
						<td>
							<div id="barcon" name="barcon"></div>
						</td>
					</td>
				</table>
				<script type="text/javascript" src="js/po/page.js"></script>
				</div>
		<!-- </form> -->
		</div>
		<script type="text/javascript" src="js/jquery-main-211.js"></script>
		<script type="text/javascript" src="js/header.js"></script>
		<script src="ckeditor/ckeditor.js"></script>
		<script src="ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript">
			$( document ).ready( function() {
				$( 'textarea#editor1' ).ckeditor();
			} );
		</script>
	</body>
</html>