<div class="right-blogs col-md-12">
	<% PostGet_all.forEach(	function(PostGet_all){%>
	<article class="right-blogs-box clearfix">
		<div class="right-blogs-frame col-md-10">
			<h2 class="right-blogs-title">
				<a href="/in/blogsById?note_ids=<%= PostGet_all.kt_isNote_id %>&tags_ids=<%= PostGet_all.kt_isTag_id %>&tags2_ids=<%= PostGet_all.kt_isTag2_id %>" title="<%= PostGet_all.kt_isNote_title %>"  target="_blank" ><%= PostGet_all.kt_isNote_title %></a>
			</h2>
			<p style="  z-index: 500;
  display: block;
  height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1677c8;
  background-image: -webkit-linear-gradient(120deg, #1677c8, #2ac2d8);
  background-image: -moz-linear-gradient(120deg, #1677c8, #2ac2d8);
  background-image: -ms-linear-gradient(120deg, #1677c8, #2ac2d8);
  background-image: -o-linear-gradient(120deg, #1677c8, #2ac2d8);
  background-image: linear-gradient(120deg, #1677c8, #2ac2d8);"></p>
		</div>
		<div class="right-blogs-bar col-md-2" >
            <span><%= Date(PostGet_all.kt_isDate) %></span>
        </div>
	</article>
	<% });%>
	<div id="pagination">
		<%- Create_links %>
	</div>
	<div style="clear:both;"></div>
</div>