
<div class="leftFeel col-md-12">
	<article class="leftFeelBox clearfix">
		<ul class="feelBoxList">
		<% PostGet_all.forEach(	function(PostGet_all){%>
			<li class="feelBoxListLi">
				<a class="container-fluid" href="/in/feelsById?note_ids=<%= PostGet_all.kt_isNote_id %>&tags_ids=<%= PostGet_all.kt_isTag_id %>"  target="_blank">
					<span class="feelInco col-md-1"></span>
					<span class="feelTitle col-md-5" title="<%= PostGet_all.kt_isNote_title %>"><%= PostGet_all.kt_isNote_title %></span>
					<span class="feelTag col-md-4">
						<%= PostGet_all.kt_isTag2_name %>
					</span>
					<span class="feelDate col-md-2">
						<!--<%= Date(PostGet_all.kt_isNote_date) %>-->
					</span>
				</a>
			</li>
		<% });%>
		</ul>
	</article>
	<div id="pagination">
		<%- Create_links %>
	</div>
	<div style="clear:both;"></div>
</div>