<script>
	$(document).ready(function(){
		 $(".linenums").addClass("prettyprint");
		 $("body").attr("onload","prettyPrint();");
	});
</script>
<style>
	.prettyprint {
		background-color: #141424;
	}
	.kwd, .linenums .tag {
		color: #E562D0;
	}
	.pln {
		color: #0EDBE4;
	}.pun, .opn, .clo {
		color: #2EA016;
	}.str, .atv {
		color: #ED5353;
	}
	ol.linenums li {
		text-shadow:none;color: #05A391;
	}
</style>
<aside id="reader-right" class="col-md-12">
	<% BlogsById.forEach(	function(BlogsById){%>
	<div class="div-reader-title">
		<p class="p-reader-title"><%= BlogsById.kt_isNote_title %></p>
		<a class="a-reader-next a-hover" id="a_reader_next" href="/in/translatesByNext?note_ids=<%= BlogsById.kt_isNote_id %>">Next
		</a>
		<a class="a-reader-prev a-hover" id="a_reader_prev" href="/in/translatesByPrev?note_ids=<%= BlogsById.kt_isNote_id %>">Prev
		</a>
		<a class="a-reader-next a-hover" href="/in/translatesByMenu">Menu
		</a>
	</div>
	<div class="div-reader-text">
		<p class="p-reader-text"><%- BlogsById.kt_isNote_content %></p>
	</div><% });%>
	<input class="tags_open_next" id="tags_open_next" style="height:0px;width:0px;" name="tags_open_next" type="hidden"  value="<%= tags_open_next %>">
	<input class="tags_open_prev" id="tags_open_prev" style="height:0px;width:0px;" name="tags_open_prev" type="hidden"  value="<%= tags_open_prev %>">
</aside>