<%- include ../../poHeaderLoader %>
		<div class="container poContents"  id="contents">
			<%- include ../../header %>
			<%- include ../nav %>
		<form action="/toEditNote" method="post">
			<% NotesById.forEach(	function(NotesById){%>
			<div  class="poAddBox">
				<table class="table table-striped">
					<tr><td>
						文章标题：
					</td></tr>
					<tr><td>
						<input class="noteTitle"  style="width:100%;" name="noteTitle" type="text"  placeholder="请输入标题" value="<%= NotesById.kt_notes_titles %>">
					</td></tr>
					<tr><td>
						标签：<%= NotesById.kt_tags_name %>
						<br>日期：<%= NotesById.kt_notes_year %>.<%= NotesById.kt_notes_yue %>.<%= NotesById.kt_notes_ri %>
						<% if (locals.success&&locals.success.length) { %>
							<%= locals.success %>
						<% } %>
						<% if (locals.error&&locals.error.length) { %>
							<%= locals.error %>
						<% } %>
						<input class="noteId"  style="width:100%;" name="noteId" type="hidden" value="<%= NotesById.kt_notes_ids %>">
					</td></tr>
					<tr><td>
						标签：
						<select name="noteTagId" class="noteTagId"  onchange="sel(this)">
							<% PostNotesTag.forEach(	function(PostNotesTag){%>
								<option value="<%= PostNotesTag.kt_note_tags_ids %>"><%= PostNotesTag.kt_note_tags_name %></option>
							<% });%>
						</select>
						<a href="/poAddnoteType">添加标签</a>
					</td></tr>
					<tr><td>
						<span>年：</span>
						<select name="noteYear" class="noteYear"  onchange="sel(this)">
							<option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option>
						</select>
					</td></tr>
					<tr><td>
						<span>月：</span>
						<select name="noteYue" class="noteYue"  onchange="sel(this)">
							<option value="Jan">JAN</option><option value="Feb">FEB</option><option value="Mar">MAR</option><option value="Apr">APR</option><option value="May">MAY</option><option value="Jun">JUN</option><option value="Jul">JUL</option><option value="Aug">AUG</option><option value="Sep">SEP</option><option value="Oct">OCT</option><option value="Nov">NOV</option><option value="Dec">DEC</option>
						</select>
					</td></tr>
					<tr><td>
						<span>日：</span>
						<select name="noteRi" class="noteRi"  onchange="sel(this)">
							<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
						</select>
					</td></tr>
					<tr><td>
						<input style="width:100%;" type="submit" value="提交表单">
					</td></tr>
				</table>
			</div>
			<div class="poTextarea">
				<textarea class="ckeditor" name="editor1" id="editor1"><%- NotesById.kt_notes_contents %></textarea>
			</div>
			<% });%>
		</form>
		</div>
<%- include ../../poFooterLoader %>